$primary: green;

button {
  height: 36px;
  border: none;
  border-radius: 6px;
  padding: 0 20px;
  outline-color: #fff;
  color: white;
  cursor: pointer;
}

.secondary {
  background: #213250;
}

.primary {
  background: green;
}